.App {
  max-width: 555px;
  margin: auto;
  font-family: Arial, sans-serif;
  padding: 1rem;
}

button.e-progress-btn {
  width: 100%;
  padding: 0;
  height: 4px;
  border: 0 none;
  background-color: #eaeaea;
}

.e-progress-btn .e-progress {
  background-color: #b11f24;
}

.e-card-image {
  background-image: url("https://ej2.syncfusion.com/react/documentation/samples/card/card_img-cs1/sample.jpg");
}
