//@import "../node_modules/malt-css/preflight";
// @import "../node_modules/malt-css/syncfusion-theme";

$accent: gold;
$primary: purple;

@import "../node_modules/malt-css/preflight";

@import "../node_modules/@syncfusion/ej2-react-buttons/styles/material.scss";

$accent: gold;
$primary: purple;

@import "../node_modules/malt-css/utils";
