.App {
  max-width: 555px;
  margin: auto;
  font-family: Arial, sans-serif;
  padding: 1rem;
}

.icon-beer:before,
.e-a:before,
.e-b:before,
.e-c:before,
.e-input-picture:before,
.e-input-calendar:before,
.e-btn-icons,
.e-paste::before,
.e-paste-special::before,
.e-paste-formula::before,
.e-paste-hyperlink::before,
.e-paste::before,
.e-paste-special::before,
.e-paste-formula::before,
.e-paste-hyperlink::before,
.e-logout::before,
.e-dashboard::before,
.e-profile::before,
.e-notifications::before,
.e-settings::before,
.e-logout::before,
.e-dashboard::before,
.e-profile::before,
.e-notifications::before,
.e-settings::before,
.e-dropdown-btn .e-ddb-icons,
.e-dropdown-popup .e-ddb-icons,
.e-logout::before,
.e-dashboard::before,
.e-profile::before,
.e-notifications::before,
.e-settings::before,
.e-logout::before,
.e-dashboard::before,
.e-profile::before,
.e-notifications::before,
.e-settings::before,
.e-play-icon::before,
.e-pause-icon::before,
.e-open-icon::before,
.e-add-icon::before {
  content: "\e886";
  font-family: "Material Icons" !important;
}

.e-btn .e-btn-icon,
.e-btn-group .e-btn-icon {
  font-size: inherit;
}
.e-icons {
  font-family: e-icons;
}

button.e-progress-btn {
  width: 100%;
  padding: 0;
  height: 4px;
  border: 0 none;
  background-color: #eaeaea;
}

.e-progress-btn .e-progress {
  background-color: #b11f24;
}
