.App {
  max-width: 960px;
  margin: auto;
  font-family: Arial, sans-serif;
  padding: 1rem;
}

.group_work::before {
  content: "\e886";
  font-size: inherit;
}
.e-btn .e-btn-icon {
  font-size: inherit;
}
