@import "../node_modules/malt-css/preflight";
@import "../node_modules/malt-css/syncfusion-theme";
@import "../node_modules/malt-css/utils";

.App {
  max-width: 555px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.e-play-icon::before {
  content: "\e798";
}

.e-pause-icon::before {
  content: "\e753";
}

.e-open-icon::before {
  content: "\e782";
}

.e-add-icon::before {
  content: "\e823";
}
