$bigger-caret-font-size: 12px;
$bigger-caret-li-padding: 36px;
$bigger-caret-right: 8px;
$bigger-font-size: 14px;
$bigger-li-height: 52px;
$bigger-li-padding: 0 16px;
$bigger-li-right-padding: 16px;
$bigger-icon-margin-right: 10px;
$blank-icon: 34px;
$blank-icon-bigger: 42px;
$caret-font-size: 10px;
$caret-color: rgba(0, 0, 0, .54);
$caret-icon: '\e94d';
$subli-caret-icon: '\e956';
$caret-icon-rtl: '\e937';
$caret-right: 6px;
$caret-li-padding: 26px;
$caret-padding-left: 10px;
$color: rgba(0, 0, 0, .87);
$disable-text: rgba(0, 0, 0, .38);
$font-size: 14px;
$font-weight: normal;
$icon-margin-right: 10px;
$li-bgcolor: #808080;
$li-border-color: rgba(0, 0, 0, .12);
$li-border-style: solid;
$li-border-width: 1px;
$li-height: 36px;
$li-padding: 0 16px;
$li-right-padding: 12px;
$li-selection-bgcolor: #808080;
$li-selection-font-color: rgba(0, 0, 0, .87);
$menu-icon-color: rgba(0, 0, 0, .54);
$menu-icon-disabled-color: rgba(0, 0, 0, .38);
$menu-icon-font-size: 14px;
$menu-icon-bigger-font-size: 16px;
$min-width: 120px;
$selected-color: rgba(0, 0, 0, .87);
$sub-ul-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .26);
$seperator-padding: 0;
$seperator-bigger-padding: 0;
$ul-bgcolor: #fff;
$ul-border: none;
$ul-border-radius: 0;
$ul-header-padding:  0;
$ul-padding: 0;
$ul-bigger-padding: 0 20px;
$ul-bigger-header-padding: 0;
$sub-ul-padding: 0;
$sub-ul-bigger-padding: 0;
$li-hover-outline: 0 solid $li-border-color;
$caret-hover-color: $caret-color;
$menu-hover-icon-color: $menu-icon-color;
$li-hover-outline-offset: 0;
$li-selected-outline: 0 solid $li-selection-bgcolor;
$li-selected-outline-offset: 0;
