@include export-module('menu-layout') {
  /*! menu layout */
  .e-menu-wrapper {
    display: inline-flex;

    @at-root {
      & ul {
        border: $ul-border;
        border-radius: $ul-border-radius;
        display: inline-block;
        font-size: $font-size;
        font-weight: $font-weight;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
        margin: 0;
        min-width: $min-width;
        overflow: hidden;
        padding: $ul-padding;
        text-align: left;
        user-select: none;
        white-space: nowrap;

        &.e-vertical {

          & .e-menu-item {
            display: block;

            &.e-menu-hide {
              display: none;
            }

            &.e-blankicon {
              padding-left: $blank-icon;
            }
          }

          & .e-separator {
            height: auto;
          }

          & .e-menu-item {

            & .e-caret {
              &::before {
                content: $subli-caret-icon;
              }
            }
          }
        }

        &.e-menu {

          &:not(.e-vertical) {
            padding: $ul-header-padding;

            & .e-separator {
              border-right-style: $li-border-style;
              border-right-width: $li-border-width;
              padding: $seperator-padding;
            }
          }

          &.e-scrollable {
            display: block;
            overflow: auto;
          }
        }

        & .e-menu-item  {
          cursor: pointer;
          display: inline-block;
          height: $li-height - 2;
          line-height: $li-height - 2;
          padding: $li-padding;
          position: relative;
          vertical-align: top;
          white-space: nowrap;

          &.e-menu-hide {
            display: none;
          }

          & .e-menu-icon {
            float: left;
            font-size: $menu-icon-font-size;
            height: auto;
            line-height: $li-height - 2;
            margin-right: $icon-margin-right;
            vertical-align: middle;
            width: auto;
          }

          & .e-caret {
            font-size: $caret-font-size;
            height: auto;
            line-height: $li-height - 2;
            position: absolute;
            right: $caret-right;
            width: auto;

            &::before {
              content: $caret-icon;
            }
          }

          &.e-separator {
            border-bottom-style: $li-border-style;
            border-bottom-width: $li-border-width;
            padding: $seperator-padding;
          }

          &.e-menu-caret-icon {
            padding-right: $caret-li-padding;
          }

          &.e-disabled {
            cursor: auto;
            pointer-events: none;
          }

          & .e-menu-url {
            text-decoration: none;
          }
        }

        & .e-menu-template {
          display: inline-block;
        }
      }

      & .e-ul {
        box-shadow: $sub-ul-box-shadow;
        padding: $sub-ul-padding;
        position: absolute;

        & .e-menu-item {
          display: block;
          float: none;
          position: relative;

          &.e-separator {
            height: auto;
          }

          &.e-blankicon {
            padding-left: $blank-icon;
          }

          & .e-caret {

            &::before {
              content: $subli-caret-icon;
            }
          }
        }
      }
    }
  }

  .e-rtl.e-menu-wrapper ul {

    & .e-menu-item {
      text-align: right;

      & .e-menu-icon {
        float: right;
        margin-left: $icon-margin-right;
        margin-right: 0;
      }

      & .e-caret {
        left: $caret-right;
        margin-left: 0;
        right: auto;
      }

      &.e-menu-caret-icon {
        padding-left: $caret-li-padding;
        padding-right: $li-right-padding;
      }
    }

    &.e-vertical {

      & .e-menu-item {
        &.e-blankicon {
          padding-right: $blank-icon;
        }
      }

      & .e-caret {

        &::before {
          content: $caret-icon-rtl;
        }
      }
    }

    &.e-ul {

      & .e-menu-item {
        &.e-blankicon {
          padding-right: $blank-icon;
        }
      }

      & .e-caret {

        &::before {
          content: $caret-icon-rtl;
        }
      }
    }
  }

  .e-bigger.e-menu-wrapper,
  .e-bigger .e-menu-wrapper {
    display: block;
  }

  .e-bigger .e-menu-wrapper ul,
  .e-bigger.e-menu-wrapper ul {
    font-size: $bigger-font-size;
    padding: $ul-bigger-padding;

    & .e-menu-item {
      height: $bigger-li-height - 2;
      line-height: $bigger-li-height - 2;
      padding: $bigger-li-padding;

      & .e-menu-icon {
        font-size: $menu-icon-bigger-font-size;
        line-height: $bigger-li-height - 2;
        margin-right: $bigger-icon-margin-right;
      }

      &.e-menu-caret-icon {
        padding-right: $bigger-caret-li-padding;
      }

      & .e-caret {
        font-size: $bigger-caret-font-size;
        line-height: $bigger-li-height - 2;
        right: $bigger-caret-right;
      }

      &.e-separator {
        padding: $seperator-bigger-padding;
      }
    }

    &.e-menu {
      &:not(.e-vertical) {
        padding: $ul-bigger-header-padding;
      }

      &.e-vertical {
        & .e-menu-item {
          &.e-blankicon {
            padding-left: $blank-icon-bigger;
          }
        }
      }
    }
  }

  .e-bigger .e-rtl.e-menu-wrapper ul,
  .e-bigger.e-rtl.e-menu-wrapper ul {
    & .e-menu-item {
      text-align: right;

      & .e-menu-icon {
        float: right;
        margin-left: $bigger-icon-margin-right;
        margin-right: 0;
      }

      & .e-caret {
        left: $bigger-caret-right;
        margin-left: 0;
        right: auto;
      }

      &.e-menu-caret-icon {
        padding-left: $bigger-caret-li-padding;
        padding-right: $bigger-li-right-padding;
      }
    }

    &.e-vertical {

      & .e-menu-item {
        &.e-blankicon {
          padding-right: $blank-icon-bigger;
        }
      }

      & .e-caret {

        &::before {
          content: $caret-icon-rtl;
        }
      }
    }

    &.e-ul {
      & .e-menu-item {
        &.e-blankicon {
          padding-right: $blank-icon-bigger;
        }
      }

      & .e-caret {
        &::before {
          content: $caret-icon-rtl;
        }
      }
    }
  }

  .e-bigger .e-menu-wrapper .e-ul,
  .e-bigger.e-menu-wrapper .e-ul {
    padding: $sub-ul-bigger-padding;

    & .e-menu-item {
      &.e-blankicon {
        padding-left: $blank-icon-bigger;
      }
    }
  }
}
