@import 'definition.scss';

$bigger-caret-font-size: 12px;
$bigger-caret-li-padding: 36px;
$bigger-caret-right: 16px;
$bigger-font-size: 14px;
$bigger-li-height: 56px;
$bigger-li-padding: 0 16px;
$bigger-li-right-padding: 16px;
$bigger-icon-margin-right: 10px;
$blank-icon: 34px;
$blank-icon-bigger: 42px;
$caret-font-size: 10px;
$caret-color: rgba($grey-light-font, .54);
$caret-icon: '\e94d';
$subli-caret-icon: '\e956';
$caret-icon-rtl: '\e937';
$caret-right: 12px;
$caret-li-padding: 30px;
$caret-padding-left: 10px;
$color: rgba($grey-light-font, .87);
$disable-text: rgba($grey-light-font, .38);
$font-size: 13px;
$font-weight: normal;
$icon-margin-right: 8px;
$li-bgcolor: $grey-200;
$li-border-color: rgba($grey-light-font, .12);
$li-border-style: solid;
$li-border-width: 1px;
$li-height: 42px;
$li-padding: 0 12px;
$li-right-padding: 12px;
$li-selection-bgcolor: $grey-300;
$li-selection-font-color: rgba($grey-light-font, .87);
$menu-icon-color: rgba($grey-light-font, .54);
$menu-icon-disabled-color: rgba($grey-light-font, .38);
$menu-icon-font-size: 14px;
$menu-icon-bigger-font-size: 16px;
$min-width: 120px;
$seperator-border-color: rgba($grey-light-font, .12);
$seperator-padding: 0;
$selected-color: rgba($grey-light-font, .87);
$sub-ul-box-shadow: 0 8px 10px 0 rgba($grey-black, .24);
$sub-ul-bgcolor: $grey-white;
$sub-li-border-color: rgba($grey-light-font, .12);
$ul-bgcolor: $grey-50;
$ul-border-radius: 0;
$ul-border: $li-border-width $li-border-style;
$ul-padding: 0;
$ul-bigger-padding: 0;
$li-hover-outline: 0 solid $li-border-color;
$caret-hover-color: $caret-color;
$menu-hover-icon-color: $menu-icon-color;
